/* 颜色表 */
$primary: #1677ff;
$heading: #0d1a26;
$text: #314659;
$secondary: #717484;
$weak: #a8a8ad;
$link: $primary;
$border: #e6e6e6;
$border-inner: #f0f1f3;
$btn-border: #dadadf;
$light-bg: #f5f7fa;
$white: #fff;
$black: #333;
$tabbarClientHeight: 160px;
$tabbarDesktopHeight: 100px;
