.footer-toolbar-container {
  width: 100%;
  background: $white;
  position: fixed;
  bottom: 0;
  left: 100;
  right: 0;
  z-index: 999;
  box-shadow: 0 -6px 16px -8px rgb(241, 241, 242, 0.8), 0 -9px 28px 0 rgb(241, 241, 242, 0.5);
}
.footer-toolbar-placeholder {
  margin-top: 20px;
}
