.custom-tab-bar-placeholder {
  height: $tabbarClientHeight;
}
.custom-tab-bar-placeholder-devtools {
  height: $tabbarDesktopHeight;
}
.custom-tab-bar-placeholder-mac {
  height: $tabbarDesktopHeight;
}
.custom-tab-bar-placeholder-ios {
  height: $tabbarClientHeight;
}
